.N
{
background-color: rgb(240, 121 ,121);
}
nav{
    display: flex;
}
.b
{
    font-style: italic;
}
h1
{
    text-align: center;
}
nav
{
    position: fixed;
    right: 10%;
}
h1,h4
{
    color: rgb(240, 121, 121);
}
img
{
    position: relative;
    
}
img, ul
{
    display: inline-block;
}
body
{
    background: url("greg-rosenke-6QnEf_b47eA-unsplash.jpg")
}
body{
    font-size: 0.9em;
}
@media screen and (max-width: 1024px)
{
    img{
    width: 50%;
    }
    p
    {
width: 50%;
    }
    h1{
        font-size: xx-small;
        width:30px;
    }
    body :{
font-size: xx-small;

    }
    nav{
        margin-left: 5%;
        flex-wrap: wrap;
    }
}
@media screen (min-width: 900px) {
    h1{
        width:30px;
    }
}
header
{
    background: url("210735970.jpeg")
}
footer
{
    position: relative;
    bottom: 0%;

}
li
{
    border: 1PX solid rgb(240, 121, 121);
}
p{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  p{
      color:white;
  }
  li{
      color: blue;
  }
  
  
    
