.N
{
background-color: rgb(240, 121 ,121);
}
nav{
    display: flex;
   
}
.b
{
    font-style: italic;
}
h1
{
    text-align: center;
}
nav
{
    position: fixed;
    right: 10%;
}
h1
{
    color: rgb(240, 121, 121);
    border-radius: 10%;
    border: 5px solid black;
}
img
{
    position: relative;
    
}
img, ul
{
    display: inline-block;
}
body
{
    background-color: rgb(205, 219, 215);
}
body{
    font-size: 0.9em;
}
@media screen and (max-width: 1024px)
{
    img{
    width: 300px;
    }
    h1
    {

    }
}
header
{
    background: url("210735970.jpeg")
}
footer
{
    position: relative;
    bottom: 0%;

}
li
{
    border: 1PX solid rgb(240, 121, 121);
}
p{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  